h1, h2, h3, h4, h5, h6 p, ul, li {
	font-family:Arial, Helvetica, sans-serif;
	color:black;
	}

body p{font-size:1em;}
#minisite-header {
	display: none;
}

.main-feature-tabs2 {
	display: none;	
}

#content-container {
	/*background: url(../images/zigstile2.png);*/
	border: none;
	padding: 0;
	/*width: 980px;*/
	margin-top: 50px;
	margin-left: 0;
	background-image: none;
	
}
div#bodywrap {	background-color: #aee0fa;
	background: rgba(174,224,250,1);
	}
#content-inner {
	width: 757px;
	/*float: right;*/
	background-color: #aee0fa;
	background: rgba(174,224,250,.9);
	min-height: 600px;
	padding: 10px;
	
	}

div#content-header img#cloud {margin:-50px 2px 0 -10px;


}

div#interior-links-wrapper{
	background: #AEE0FA;
	background: rgba(174,224,250,1);
	width: 180px;
	text-align: right;	
	}
	
/* IE 7 Win Hack */ html>body div#interior-links-wrapper ul.interiorlinks  ul li {*margin-left:0px;}

div#interior-links-wrapper .interiorlinks li  {border:none; color:#1e2123;}
div#interior-links-wrapper .interiorlinks li a:hover {}
div#interior-links-wrapper .interiorlinks li a:active {color:#1e2123;}

div#interior-links-wrapper h3 a {color:red;
font-family:Arial, Helvetica, sans-serif;
text-decoration:none;}

div#interior-links-wrapper ul.interiorlinks  {

}

div#interior-links-wrapper ul.interiorlinks  ul li {
font-size:12px;
/*border-top:1px solid white;*/
margin:0 0 0 -75px;}

div#interior-links-wrapper ul.interiorlinks  ul li a {
color:#555;}

div#interior-links-wrapper ul.interiorlinks li a{
color:black;

}



div#interior-links-wrapper ul.interiorlinks li  {
font-size:14px;
line-height:18px;
background:none;
color:#333;
font-weight:bold;
margin: 0px 0px 0px -35px;
padding-right: 0;
}

div#interior-links-wrapper ul.interiorlinks>li{
	border-bottom: 1px solid #96c1d7;
	
}

div#interior-links-wrapper ul.interiorlinks li ul {
margin:15px 0 0 0;}

div#interior-links-wrapper ul.interiorlinks li ul li{
background:none;
margin:0 0 0 -40px;
font-size:13px;
}

div#interior-links-wrapper ul.interiorlinks li ul li ul {background:none;
border:none;
margin: 20px -10px 20px 0;
}

div#interior-links-wrapper ul.interiorlinks li li li{
font-size:11px;
color:#666;
border-top:none;
font-weight:bold;background:none;

margin: 0 0px 0 -40px;}

div#interior-links-wrapper ul.interiorlinks li li li a{
color:#666;

}

div#interior-links-wrapper ul.interiorlinks li li a {
color:#666;}

div#interior-links-wrapper h3 {
margin:20px 0px 0 4px;}

div#foot_bevel {
	
	visibility:hidden;	
}

#breadcrumbs {
	visibility:hidden;	
}

h1, h2, h3, h4, h5, h6 p, ul, li {
	font-family:Arial, Helvetica, sans-serif;
	color:black;
	}
body p{font-size:1em;
display:block;
}
/*h1 {font-family: 'Reenie Beanie', arial, serif; font-size:18px;}
h2 {font-size:18px;}
h3 {font-size:14px;}
h4 {font-size:12px;}
h5 {font-size:10px;}
h6 {font-size:10px;}*/
/*IE STYLE*/
html>body div#interior-links-wrapper  { background-color:#aee0fa;}
div#cloudfooter {background-image:url(http://imu.uiowa.edu/themes/imu4/images/cloud_footer.png);
	background-repeat:repeat-x;
	height:253px;
	width:auto;}
	
#content2 .staff-member-container h2, #content2 .profiles .staff-member-container h3{
	text-align: left;
	margin: 5px 0;

}

#content2 .profiles .staff-member-container p{
	text-align: left;
	margin: 5px 0;

}
.staff-member {
	padding: 10px 0;
	border-top: 1px #96C1D7 solid;
	border-bottom: 1px #96C1D7 solid;

}

.staff-member img {
	margin: 10px;

}
.staff-member.features-page {
	width: 600px

}

#content2 .staff-member h2 {
	text-align: left;
	margin: 5px 0;

}