<script type="text/javascript" src="http://svp.uiowa.edu/themes/svp/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="http://svp.uiowa.edu/themes/svp/js/coin-slider.min.js"></script>
<link rel="stylesheet" href="http://svp.uiowa.edu/themes/svp/css/coin-slider-styles.css" type="text/css" />

<div id="video-container">
<div id="video_center">
<div id="coin_center">
<div id='coin-slider'>
	
	<a href="http://www.facebook.com" alt="" />
		
		<img src="http://uber.imu.uiowa.edu/new-sls/images/slide1.jpg" alt="SVP on Facebook" />
		
		
		<span>SVP on Facebook</span>
		
	</a>
	

	
	<a href="http://svp.uiowa.edu/show/the-girl-show/" alt="" />
		
		<img src="http://uber.imu.uiowa.edu/new-sls/images/slide2.jpg" alt="" />
		
	</a>
	
	
</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({ delay: 5000 });
	});
</script>
</div></div>